{% extends "index.html.twig" %}
{% block metas %}
<meta property="og:title" content="Donald Trump impose la pax americana" />
<meta property="og:image" content="{{ app.base_url }}/social.jpg" />
<meta property="og:url" content="{{ app.url }}" />
<meta property="og:description" content="Le président américain a signé le décret imposant des droits de douane sur l&#039;acier et l&#039;aluminium à l&#039;importation. Mais il a aussi laissé les portes ouvertes à ses partenaires qui voudraient négocier des exemptions" />
<meta property="og:type" content="article" />
<meta name="twitter:image" content="{{ app.base_url }}/social.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@letemps" />
<meta name="twitter:title" content="Donald Trump impose la pax americana" />
<meta name="twitter:description" content="Le président américain a signé le décret imposant des droits de douane sur l&#039;acier et l&#039;aluminium à l&#039;importation. Mais il a aussi laissé les portes ouvertes à ses partenaires qui voudraient négocier des exemptions" />
<link rel="image_src" href="{{ app.base_url }}/social.jpg" />
{% endblock %}
{% block container %}
<div class="barba-container">
    <div class="c00">
        <h6>Le Temps à 20 ans </h6>
        <h1 class="text-color"><span class="count">00</span>Le Temps<br>de s'engager.</h1>
        <span class="date">— (16 mars - 17 novembre)</span>
        <h2>Pour ses 20 ans, Le Temps se donne une mission:</h2>
        <p class="margin1">Le Temps a 20 ans en 2018, l'âge où l'on s'engage. La presse n'a jamais été aussi menacée: révolution technologique, éparpillement des audiences, fragmentation des intérêts du public compte autant de menaces sur le modèle d'un journal comme Le Temps. Mais c'est aussi à cause de toutes ces raisons qu'un média qui se veut représenter la voix de la Suisse francophone ici et dans le monde n'a jamais aussi important.</p>
        <p class="margin2">Il s'agit d'avoir l'ambition de pratiquer le meilleur journalisme avec les outils technologiques du moment, organiser des évènements relevants pour notre communauté de lecteurs et amener de la valeur ajoutée à cette dernière. Désormais, notre principal source de revenus vient des lecteurs et cette tendance va se renforcer, il faut donc encore mieux comprendre ceux qui nous lisent pour mieux les servir.</p>
        <h2>En 2018, le journal<br>a décidé de s'investir</h2>
        <p class="margin1">Il ne s'agit pas seulement de fêter l'anniversaire du titre mais aussi de s'engager sur toute une série de causes pour lesquelles la rédaction est prête à en faire sa mission. Il faut que 2018 ne soit pas seulement la célébration du Temps passé mais aussi l'occasion de réaffirmer notre identité et d'avoir de l'impact pas seulement en traitant les sujets mais en s'engageant pour faire évoluer des points qui nous tiennent à cœur, dans le débat public voire dans nos propres fonctionnement.</p>
        <p class="margin2">Les 20 ans seront l'occasion de soutenir sept causes qu'il ne faudra pas seulement interroger des experts mais inciter les lecteurs à vivre une expérience.</p>
        <h2>Les 7 causes</h2> 
        <div class="spacer-md"></div>
        <div class="themelist">
            <article class="margin2 c01">
                <span class="count">01</span>
                <h5>Journalisme</h5>
                <span class="date">— (16 mars - 15 avril)</span>
            </article>
            <article class="margin1 c02 is-disabled">
                <span class="count">02</span>
                <h5>Égalité<br>Homme-Femme</h5>
                <span class="date">— (16 avril - 18 mai)</span>
            </article>
            <article class="margin2 c03 is-disabled">
                <span class="count">03</span>
                <h5>Écologie</h5>
                <span class="date">— (19 mai - 16 juin)</span>
            </article>
            <article class="margin1 c04 is-disabled">
                <span class="count">04</span>
                <h5>Créativité suisse</h5>
                <span class="date">— (18 juin - 19 août)</span>
            </article>
            <article class="margin2 c05 is-disabled">
                <span class="count">05</span>
                <h5>Économie inclusive</h5>
                <span class="date">— (20 août - 16 septembre)</span>
            </article>
            <article class="margin1 c06 is-disabled">
                <span class="count">06</span>
                <h5>Technologie au<br>service de l'homme</h5>
                <span class="date">— (18 septembre - 14 octobre)</span>
            </article>
            <article class="margin2 c07 is-disabled">
                <span class="count">07</span>
                <h5>La Suisse,<br>laboratoire politique</h5>
                <span class="date">— (15 octobre - 17 novembre)</span>
            </article>
        </div>
    </div>
</div>
{% endblock %}