<!DOCTYPE HTML>

<html> 

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="assets/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
		<!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/plugins/TextPlugin.min.js"></script> -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script> -->
		<script src="assets/js/main.js"></script>
	</head>  
 
	<body style="padding-top: {{ navBarOffset }};">
		
		<!-- <div class="overlay">
			<img class="logo-brand" src="img/logo-lt-blanc.svg" alt="">
			<div class="spinner">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>  -->

		<img src="img/glyph-01.svg" alt="" id="glyph-big" class="flip flip-01">  

		<aside>
			<img src="img/logo-lt-rouge.svg" alt="logo Le Temps" id="logo-lt-header">
			<h6>Navigation</h6>
			<nav>
				<ul start="6"> 
					<li class="is-active"><span class="count">00</span>Le Temps de s'engager</li>
					<li><span class="count">01</span><a href="?page=page2">Journalisme</a></li>
					<li><span class="count">02</span><a href="?page=index">Égalité hommes-femmes</a></li>
					<li class="is-disabled"><span class="count">03</span>—  (19 mai - 16 juin)</li>
					<li class="is-disabled"><span class="count">04</span>—  (19 mai - 16 juin)</li>
					<li class="is-disabled"><span class="count">05</span>—  (19 mai - 16 juin)</li>
					<li class="is-disabled"><span class="count">06</span>—  (19 mai - 16 juin)</li> 
					<li class="is-disabled"><span class="count">07</span>— (19 mai - 16 juin)</li>
				</ul>
			</nav>
			<div class="aside--footer">
				<img src="img/glyph-01.svg" alt="" id="glyph-small" class="flip flip-01">	
				<div class="follow">
					<span class="follow--social">
						<i class="fa fa-facebook-f"></i>
						<i class="fa fa-twitter"></i>
						<i class="fa fa-instagram"></i>
						<i class="fa fa-youtube"></i>
					</span>
					<span class="follow--text">
						Suivez les 20 ans du Temps sur les réseaux sociaux
					</span>
				</div>
			</div>
		</aside>

		<main id="barba-wrapper">
			<div class="barba-container">


				main here 
			</div>
		</main>
		<script src="assets/js/main.js"></script>
		<script src="assets/js/barba.min.js"></script>
		
	</body>
	 
</html>