#logo-lt-header
{
    position: absolute;
    top: 35px; // anciennement 40
    left: 35px;
    width: 165px; // anciennement 215
    height: auto;
}

#glyph-big    
{
    position: absolute;
    right: 35px;
    top: 35px;
    width: 115px; 
    height: auto; 
}

#glyph-small    
{
    position: absolute;
    height: 100%;
    width: auto; 
    top: 0;
}

nav 
{
     
    ul 
    {
        // counter-reset: my-badass-counter; 
        list-style: none;
        padding: 0;

        // li:before 
        // {
        //     content: counter(my-badass-counter);
	    //     counter-increment: my-badass-counter;
        // }
        li 
        {
            position: relative;
            font-family: $font-title;
            font-weight: 600;
            font-size: 26px;
            line-height: 1em;
            min-height: 30px;
            margin-bottom: 15px;

            &.is-active 
            { 
                color: $brand-color;
            }

            &.is-disabled
            {
                font-family: $font-text;
                font-size: 15px;
                padding-top: 3px;
                font-style: italic;
            }

            .count 
            {
                position: absolute;
                left: -30px;
                top: 4px;
                font-family: $font-title;
                font-style: initial !important;
                font-weight: 100;
                font-size: 15px;
            }
        }
    }
}

.aside--footer
{
    position: absolute;
    // width: 100%;
    //width: 100%;
    height: 60px;
    bottom: 35px;
    left: 90px; //115 
    right: 40px;
    //background: yellow;
    //padding: 0 40px 0 115px;

    .follow
    {
        position: absolute;
        width: 80%;
        right: 0;
        bottom: 0;
        text-align: right;

        .follow--social
        {
            display: block;
            font-size: 1.5rem; //1.85
            margin-bottom: 12px;

            i 
            {
                margin-left: 8px;
            }
        }

        .follow--text
        {
            display: block;
             font-size: 0.75rem;
            //  vertical-align: baseline;
        }
    }
}