/*Bourbon mixins*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*Boxes settings*/
.c00 .text-color {
  color: #930025; }

.c01 .text-color {
  color: #930025; }

.c02 .text-color {
  color: #d32e64; }

.c03 .text-color {
  color: #930025; }

.c04 .text-color {
  color: #930025; }

.c05 .text-color {
  color: #930025; }

.c06 .text-color {
  color: #930025; }

.c07 .text-color {
  color: #930025; }

html {
  font-size: 16px; }

body {
  background: #e7e7e7;
  position: relative;
  min-height: 100vh;
  line-height: 1em; }

img {
  display: block;
  width: 100%; }

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu-bold.eot");
  src: url("../fonts/apercu-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu-bold.woff") format("woff"), url("../fonts/apercu-bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu-regular.eot");
  src: url("../fonts/apercu-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu-regular.woff") format("woff"), url("../fonts/apercu-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Apercu';
  src: url("../fonts/apercu-light.eot");
  src: url("../fonts/apercu-light.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu-light.woff") format("woff"), url("../fonts/apercu-light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Rooney';
  src: url("../fonts/rooney_light.eot");
  src: url("../fonts/rooney_light.eot?#iefix") format("embedded-opentype"), url("../fonts/rooney_light.woff") format("woff"), url("../fonts/rooney_light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

a {
  text-decoration: none;
  color: inherit; }

p {
  font-family: "Rooney";
  font-size: 15px;
  max-width: 450px;
  line-height: 1.6;
  margin-bottom: 35px; }
  p.margin1 {
    margin-left: 215px; }
  p.margin2 {
    margin-left: 110px; }

h1 {
  font-size: 5em;
  line-height: 1;
  margin: 0 0 25px 0;
  font-family: "Apercu"; }

h2 {
  font-size: 35px;
  margin-top: 45px;
  line-height: 1.1;
  font-family: "Apercu"; }

h3 {
  font-size: 1.953125em;
  line-height: 1.25; }

h4 {
  font-size: 2.44140625em;
  line-height: 1.25; }

h5 {
  font-size: 3.0517578125em;
  line-height: 1.25; }

h6 {
  margin: 0 0 40px 0;
  font-family: "Apercu";
  font-size: 1em;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

.date {
  font-family: "Rooney";
  font-style: italic;
  font-size: 15px;
  margin-left: -55px; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

aside {
  position: fixed;
  width: 495px;
  float: left;
  background: url("../../img/aside-bg.jpg");
  background-size: 100%;
  min-height: 100vh;
  padding: 120px 40px 35px 90px; }

main {
  width: calc(100% - 495px);
  float: right;
  background: white;
  height: 100%;
  padding: 120px 145px 145px 145px; }

#logo-lt-header {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 165px;
  height: auto; }

#glyph-big {
  position: absolute;
  right: 35px;
  top: 35px;
  width: 115px;
  height: auto; }

#glyph-small {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0; }

nav ul {
  list-style: none;
  padding: 0; }
  nav ul li {
    position: relative;
    font-family: "Apercu";
    font-weight: 600;
    font-size: 28px;
    line-height: 1em;
    min-height: 30px;
    margin-bottom: 15px; }
    nav ul li.is-active {
      color: #930025; }
    nav ul li.is-disabled {
      font-family: "Rooney";
      font-size: 15px;
      padding-top: 3px;
      font-style: italic; }
    nav ul li .count {
      position: absolute;
      left: -30px;
      top: 4px;
      font-family: "Apercu";
      font-style: initial !important;
      font-weight: 100;
      font-size: 15px; }

.aside--footer {
  position: absolute;
  height: 60px;
  bottom: 35px;
  left: 90px;
  right: 40px; }
  .aside--footer .follow {
    position: absolute;
    width: 80%;
    right: 0;
    bottom: 0;
    text-align: right; }
    .aside--footer .follow .follow--social {
      display: block;
      font-size: 1.5rem;
      margin-bottom: 12px; }
      .aside--footer .follow .follow--social i {
        margin-left: 8px; }
    .aside--footer .follow .follow--text {
      display: block;
      font-size: 0.75rem;
      font-family: "Rooney"; }

.brand-nav {
  display: none; }

/*# sourceMappingURL=main.css.map */